<h1>Create a new account</h1>

<%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
  <% if @changeset.action do %>
    <div class="alert alert-danger">
      We found some problems when creating your account. Please try again.
    </div>
  <% end %>

  <%= label f, :name%>
  <%= error_tag f, :name, id: "name-error" %>
  <%= text_input f, :name %>

  <%= label f, :email %>
  <%= error_tag f, :email, id: "email-error" %>
  <%= text_input f, :email %>

  <%= label f, :password %>
  <%= error_tag f, :password, id: "password-error" %>
  <%= password_input f, :password %>

  <div class="submit">
    <%= submit "Create account" %>
  </div>
<% end %>
